# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Drizzle ORM
/migrations/sql/
/drizzle/
drizzle.config.ts

# Build output
/build

# Static exports
/export/

# Local env files
.env
.env*.local

# Vercel
.vercel

# Optional - Netlify
.netlify

# Misc
.DS_Store
*.pem
*.log
*.sqlite
*.sqlite3
*.db
*.tmp
*.bak
*.swp

# IDEs and editors
.idea/
.vscode/
*.code-workspace

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lock files
package-lock.json

# Optional: OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
